/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body{
  background-image: url(../public/bg_wide.png);
  height: 100vh;
  background-position: center;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.weather-box{
  border: 3px solid #ffc107;
  padding: 30px 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 650px;
  background-color: #48aac09d;
}

.weather-btn{
  border: 3px solid black;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: black;
  width: 650px;
  display: flex;
  justify-content: center;
}
.btn:last-child{
  margin: 0;
}
.btn{
  margin-right: 15px;
}